@charset "UTF-8";
.wrapper-1{
	width:90%;
}
.wrapper-2{
	width:600px;
	background-color:#fff5ee;
	height:200px;
 	background-size: 400px;
	padding: 15px;
	
}
.preview{
	font-weight:bold;
	color:#ffffff;
}

/*btn outline*/
.btnkinds-outline{
	outline: none;
	border: none;
	background: transparent;
}
.btnkinds  {
    background: #eee8aa;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 100px;
    padding: 10px 25px;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-weight: 500;
 
}
.red span:nth-child(1){
	color: red;
}